body
{
	font-family: Arial;
}

.navbar
{
	background-color: #555;
}

.navbar > ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #555;
}

.navbar li
{
	display: inline;
	float: left;
}

.navbar a, #editUnitBtn, #editProfileBtn, #addSampleBtn, #statisticsBtn, #financialBtn
{
	display: block;
	text-decoration: none;	
	color: black;
	text-align: center;
	padding: 15px;
	margin: 5px 0px 5px 5px;
	background-color: gray;
	border: 1px solid black;
	border-radius: 5px;
}

#editUnitBtn, #editProfileBtn, #deleteUnitBtn, #addSampleBtn, #statisticsBtn, #financialBtn
{
	margin: auto;
	margin-top: 20px;
}

.navbar li:last-child
{
	margin-right: 5px;	
}

.navbar a:hover:not(.active), #editUnitBtn:hover, #editProfileBtn:hover, #addSampleBtn:hover, #statisticsBtn:hover
{
	background-color: #333;
	text-decoration: none;
	color: white;
}

.active
{
	background-color: #111;
}

.contentBox
{
	background-color: #999;
	margin-top: 30px;
	padding: 15px 35px 35px 35px;
	border: 1px solid #111;
	margin-bottom: 30px;
}

#username
{
	margin-top: 10px;
	margin-left: 20px;
	font-weight: bold;
}

h2:not(#username), #optionsContent, h3, h4, h5, h6
{
	text-align: center;
}

table, th, td
{
	text-align: left;
	border: 1px solid #111;
}

tr > *
{
	padding: 10px;
}

#graph
{
	border: 1px solid #111;
}

h3
{
	margin-bottom: 20px;
}

.schedForm
{
	margin-bottom: 30px;
}

.schedForm > *
{
	margin: auto;
}

#unitOptions
{
	border: 1px solid black;
	text-align: center;
	margin-left: 3%;
}

#changeSettings
{
	margin: auto;
	padding: 10px;
}

label
{
	font-weight: bold;
}

#userUnitList, #nameForm, #numForm, #sizeForm, #weightForm
{
	margin: auto;
}

.alert
{
	color: red;
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
}

.centerThis
{
	text-align: center;
}

#verifyPass
{
	width: 230px;
}

#submitdiv
{
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 117px;
}

#finalRegister, #saveProfileChanges, #submit, #regButton, #saveProfileChanges, #addUnit, #saveSampleBtn, #deleteUnitBtn, #saveUnitChanges
{
	border-radius: 5px;
	margin: auto;
}

#saveProfileChanges, #addUnit, #saveSampleBtn, #saveUnitChanges
{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

#deleteUnitBtn
{
	padding: 10px;
	margin-left: 30px;
}

#intervalform
{
	margin-top: 20px;
}

#scheduleform
{
	display: none;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 90%;
}

#scheduleform > *
{
	margin: auto;
	margin-top: 10px;
}

#unitDetails > table 
{
	height: 400px;
}

#feedhist, #sample
{
	height: 400px;
	overflow: auto;
}

#feedhist > table, #sample > table
{
	margin-top: 5px;
	margin-bottom: 5px;
}

.inputform
{
	margin: auto;
	text-align: center;
}

.inputform > h6
{
	margin-top: 15px;
}

#sample > table
{
	margin: auto;
	width: 100%;
}

#sizeChartDiv > h3, #popChartDiv > h3
{
	margin-top: 40px;
}


#sizeChart, #popChart
{
	margin-top: 10px;
	border: 1px solid black;
}

#predictionDiv > p
{
	margin: auto;
	width: 500px;
}


/* =============================================================================
	Responsive
========================================================================== */

/* Large devices (large desktops, 1200px and Down) */
@media (max-width: 1200px) {

}


/* Medium devices (desktops, 992px and Donw) */
@media (max-width: 992px) {

}


/* Small devices (tablets, 768px and Down) */
@media (max-width: 768px) {

}

/* Extra Small devices (tablets, 480px and Down) */
@media (max-width: 480px) {
	
}